.ipynb_checkpoints/
nbs.code-workspace
llm.code-workspace

supplementary/__pycache__/
supplementary/utils/__pycache__/
supplementary/utils/__pycache__/components.cpython-311.pyc
supplementary/visuals
temp/
supplementary/temp
checkpoints/
utils/__pycache__
gpt2-medium-355M.pth
gpt2-small-124M.pth
gpt2-small-124M.safetensors
gpt2-large-774M.pth

.chainlit/
chainlit.md
supplementary/user_interface/__pycache__
supplementary/experiments-classification-finetuning-imdb/utils/__pycache__/

models/
gpt2/
data/
data/sms_spam_collection

aclImdb/
aclImdb_v1.tar.gz
test.csv
train.csv
validation.csv

TODO.txt

