.ipynb_checkpoints/
nbs.code-workspace
llm.code-workspace

supplementary/__pycache__/
supplementary/utils/__pycache__/
supplementary/utils/__pycache__/components.cpython-311.pyc
supplementary/visuals
temp/
supplementary/temp
checkpoints/
utils/__pycache__
gpt2-medium-355M.pth
gpt2-small-124M.pth
gpt2-small-124M.safetensors
gpt2-large-774M.pth

.chainlit/
chainlit.md
supplementary/user_interface/__pycache__

models/
gpt2/

data/sms_spam_collection